body {
    background-color: antiquewhite;
}
.center {
    display: block;
    margin: 0 auto;
}

h1 {
    color: black;
    text-align: center;
}

hr {
    width: 50%;
    margin: 0 auto;
}

h3 {
    color: orangered;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

p {
    color: black;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

